[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "thirdparty/dbg-macro"]
	path = thirdparty/dbg-macro
	url = https://github.com/sharkdp/dbg-macro.git
  branch = master